body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f0f0f0;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #337ab7;
  text-decoration: none;
}

nav a:hover {
  color: #23527c;
}

.active {
  font-weight: bold;
}

.sidebar {
  width: 20%;
  float: left;
  padding: 1em;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
}

.program-list {
  width: 80%;
  float: right;
  padding: 1em;
}

.program-list ul {
  list-style: none;
  margin: 0;
  padding: 0;}